.outlying-container{
  display:grid;
   grid-template-columns: auto auto;
}

#grid-2{
background-color: green;
}


#grid-4{
background-color: yellow;
}

img{
 height: 200px;
}

.outlying-container p{
text-align:center;
vertical-align:center;
}
